<div class="row">
    <div class="col-6 info"><canvas id="CPU"></canvas></div>
    <div class="col-6 info"><canvas id="RAM"></canvas></div>
</div>
<div class="row">
    <div class="col-6 info"><canvas id="Internet"></canvas></div>
    <div class="col-6 info"><canvas id="Temp"></canvas></div>
</div>
<div class="row">
  <h2>Server Info</h2>
  <div class="col-3 info" id="host"></div>
  <div class="col-3 info" id="hostname"></div>
  <div class="col-3 info" id="system"></div>
</div>
<div class="row">
  <div class="col-3 info" id="node"></div>
  <div class="col-3 info" id="release"></div> 
  <div class="col-3 info" id="version"></div>
  <div class="col-3 info" id="machine"></div>
</div>
<div class="row">
  <div class="col-3 info" id="processor"></div>
  <div class="col-3 info" id="max_freq"></div>
</div>
<div class="row">
  <div class="col-3 info" id="host"></div>
  <div class="col-3 info" id="hostname"></div>
  <div class="col-3 info" id="max_freq" class="col-3"></div>
  <div class="col-3 info" id=""></div>
</div>
<div class="row">
  <h2>CPU</h2>
  <div class="col-3 info" id="cur_freq"></div>
  <div class="col-3 info" id="p_cores"></div>
  <div class="col-3 info" id="t_cores"></div>
  <div class="col-3 info" id="usage"></div>
</div>
<div class="row">
  <h2>Memory</h2>
  <div class="col-3 info" id="mem_percent"></div>
  <div class="col-3 info" id="mem_total"></div>
  <div class="col-3 info" id="mem_used"></div>
  <div class="col-3 info" id=""></div>
</div>
<div class="row">
  <h2>Swap</h2>
  <div class="col-3 info" id="swap_percent"></div>
  <div class="col-3 info" id="swap_total"></div>
  <div class="col-3 info" id="swap_used"></div>
  <div class="col-3 info" id=""></div>
</div>
<div class="row">
  <h2>Networking</h2>
  <div class="col-3 info" id="network_sent"></div>
  <div class="col-3 info" id="network_recv"></div>
  <div class="col-3 info" id=""></div>
</div>
<div class="row">
  <h2>Disk</h2>
  <div class="col-3 info" id="disk_total"></div>
  <div class="col-3 info" id="disk_free"></div>
  <div class="col-3 info" id="disk_used"></div>
  <div class="col-3 info"></div>
</div>
<div class="row">
  <h2>Uptime</h2>
  <div class="col-3 info" id="uptime"></div>
</div>